@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./styles/components.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("./assets/wave-4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* ++++++++++ Scrollbar Customization ++++++++++ */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #bbbfca;
}

/* Antd styles */
/************ Table ************/
.ant-table-thead .ant-table-cell {
  text-transform: uppercase;
}